.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f8f8;
}

.header {
  background-color: #ffcc00;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

.sidebar {
  background-color: #ff6699;
  padding: 20px;
  width: 250px;
  color: #ffffff;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #66ccff;
  color: #ffffff;
}

ul,
ol {
  padding-left: 20px;
}
